[Unit]
Description=BTCQBO Bridge

[Service]
WorkingDirectory=/home/ubuntu/btcqbo
ExecStart=/home/ubuntu/btcqbo/venv/bin/gunicorn -b :8001 -w 2 btcqbo:app
User=ubuntu
Type=simple
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
