FLASK_APP=btcqbo.py
QUICKBOOKS_CLIENT_ID=
QUICKBOOKS_CLIENT_SECRET=
QUICKBOOKS_SANDBOX=False
AUTH_ACCESS=True
CALLBACK_URL = "http://example.com:8000/logged"
BTCPAY_HOST = "https://btcpay.example.com"
