[Unit]
Description=RQ Worker for BTCQBO
After=redis-server.service
After=network.target
Requires=redis-server.service

[Service]
WorkingDirectory=/home/ubuntu/btcqbo
ExecStart=/home/ubuntu/btcqbo/venv/bin/rq worker btcqbo
User=ubuntu
Type=simple
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
